################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.cache
*.props
*.json
*.suo
*.testlog
/.vs/PatternsForCoding/v17/TestStore/0/testlog.manifest
/PatternsForCoding.sln
/Algorithms/obj/Algorithms.csproj.nuget.dgspec.json
/Algorithms/obj/Algorithms.csproj.nuget.g.props
/Algorithms/obj/Debug/net7.0/Algorithms.assets.cache
/Algorithms/obj/project.assets.json
/Algorithms/obj/project.nuget.cache
/TestValidations/obj/Debug/net7.0/TestValidations.assets.cache
/TestValidations/obj/Debug/net7.0/TestValidations.csproj.AssemblyReference.cache
